{% if site.googleplus_user %}
<section class="googleplus{% if site.googleplus_hidden %} googleplus-hidden{% endif %}">
  <h1>
    <a href="http://jaimegonzalezgarcia.com/" title="jaimegonzalezgarcia.com">
	<img src="/images/my-website-icon-32.png" width="32" height="32">
    </a>
    <a href="https://plus.google.com/{{ site.googleplus_user }}?rel=author" title="Jaime at Google+">
      <img src="http://www.google.com/images/icons/ui/gprofile_button-32.png" width="32" height="32">
    </a>
    <a href="http://www.twitter.com/vintharas" title="@Vintharas at twitter">
  	<img src="/images/twitter-icon-32.png" width="32" height="32">
    </a>
    <a href="http://www.github.com/vintharas" title="Vintharas at github">
	<img src="/images/github-icon-32.png" width="32" height="32">
    </a>
    <a href="http://www.linkedin.com/in/jaimegonzalezgarcia" title="Jaime González García at linkedIn">
	<img src="/images/linkedin-icon-32.png" width="32" height="32">
    </a>
    <a href="https://www.facebook.com/jaime.g.garcia" title="Jaime González García at facebook">
	<img src="/images/facebook-icon-32.png" width="32" height="32">
    </a>
  </h1>
</section>
{% endif %}