<div class="inner a-p">
    <h1 class="a-p-heading">
                <span class="static">&gt;</span>
                <span class="ap-terminal">{{ page.title }}</span> 
              </h1>
              <h1 class="a-p-heading">
                <span class="static">&gt;</span>
                <span class="ap-terminal-code">{{ page.description }}</span> 
              </h1>
              <h1>
                <span class="static">&gt;</span>
                <span class="ap-terminal-new-line">
                    {{ page.sub-description }}
                </span>
              </h1>
           <div class="a-p-para" style="padding-top: 145px;">
                 &#47;&#42  I am currently a full stack senior .Net software developer @<a href="http://www.brandview.com">BrandView</a> Reading UK.&#42;&#47; <br />
                 &#47;&#42  Get in touch for any web-based projects , apps , ideas? drop me an email on <a href="mailto:development@amitpore.com">development@amitpore.com</a> &#42;&#47;
           </div>
           <div class="inner">
              <p class="lead">
                 <a href="/about" class="btn btn-lg btn-default">{ Learn more }</a>
              </p>
           </div>
          </div>