<div class="masthead clearfix">
 <div class="inner">
    <h3 class="masthead-brand"></h3>
        <nav>
          <ul class="nav masthead-nav">
            <li class="{{ page.intro }}"><a href="/">Intro</a></li>
            <li class="{{ page.blog }}"><a href="{{ root_url }}/blog/">Blog</a></li>
            <li class="{{ page.about }}"><a href="{{ root_url }}/about/">About</a></li>
            <li class="{{ page.proj }}"><a href="{{ root_url }}/projects/">Projects</a></li>
          </ul>
        </nav>
 </div>
</div>