{% for post in loopData %}
<div class="col-sm-4 portfolio-item">
    <a href="{{post.url}}" class="portfolio-link" data-toggle="modal">
        <div class="caption">
            <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
            </div>
        </div>
        <img src="{{post.image}}" class="img-responsive" alt="">
        <h3 class="post__heading"><a href="{{post.url}}">{{post.title}}</a></h3>
        <p class="post__meta">Published on {{post.date | date: "%-d %B %Y"}}</p>
    </a>
</div>
{% endfor %}

