/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: rgb(52, 135, 200);
}

h1 {
 font-size: 24px;
 margin: -36px 15px;
 overflow: hidden;
 line-height: 1.9;
}

h3 {
 text-decoration:none;
 border:0;
 width : 162px;
 height : 113px;
 margin : 0;
 padding : 0;
 
  
}
 
h3 a {
 display : block;
 height : 113px;
 text-indent : -9999px; 
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #162848;
  font-family: mf-phylactere-169401;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-family: 'Droid Sans Mono';
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;   
    outline:none;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}


.masthead {
  background: #162848;
}

pre{
  text-align: left;
}
.a-p-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}
p-blog{
    margin: 0 0 10px;
    text-align: left;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  background : url(logo.svg) no-repeat;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #B8BDC3;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 1080px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
    margin-top:54px
  }
}


/*
 * a-p
 */

.a-p {
padding-top: 200px;
}
.a-p .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.a-p-para {
  font-size: 16px;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  padding-top: 142px;
  text-align: left;

}
.blinking-cursor {
  font-weight: 100;
  font-size: 60px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #162848;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #C8CACC;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #C8CACC;
  }
}

@-ms-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #162848;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #162848;
  }
}

/*
 * Footer
 */

.mastfoot {
  color: #B8BDC3; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


@-webkit-keyframes typing { 
    from { width: 0; } 
}
@-webkit-keyframes blink-caret { 
    50% { border-color: transparent; } 
}

.static {
    float: left;
    margin: 1ch 0;
    padding: 0;
}

.yellow {
    color: #CCC;
}

.feature-image {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 100px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.ap-terminal {
    float: left;
    /*border-right: .1em solid #ccc;*/
	width: 10ch;
    margin: 1ch;
    padding: 0 1ch;
    display: block;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing .2s steps(5, end), blink-caret .10s step-end 1ms alternate;
}


.ap-terminal-code {
    float: left;
    /*border-right: .1em solid #ccc;*/
	width: 26ch;
    margin: 1ch;
    padding: 0 1ch;
    display: block;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing .5s steps(10, end), blink-caret .2s step-end 3ms alternate;
}

.ap-terminal-new-line {
    float: left;
    border-right: .1em solid #ccc;
	width: 61ch;
    margin: 1ch;
    padding: 0 1ch;
    display: block;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 1s steps(20, end), blink-caret .2s step-end infinite alternate;
}

/*
 * Affix and center
 */

@media (min-width: 1080px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: inherit;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .a-p-container {
    width: 1080px;
   
  }
}

@media (min-width: 1080px) {
  .masthead,
  .mastfoot,
  .a-p-container {
    width: 1080px;
  }
}
/*decoaration */

.polaroid {
  position: relative;
  
}

.polaroid img {
  width: 220px;
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px rgb(52, 135, 200);;
     -moz-box-shadow: 3px 3px 3px rgb(52, 135, 200);;
          box-shadow: 3px 3px 3px rgb(52, 135, 200);;
}

.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: inherit;
  color: rgb(52, 135, 200);
    
}