---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h3>{{post.title}}</h3>
            <img src="{{post.image}}" class="img-responsive img-centered" alt="">
            <ul class="list-inline item-details">
                <li>
                    <p>{{content}}</p>
                </li>
                <li>Date:
                    <strong><a>Published on {{post.date | date: "%-d %B %Y"}}</a>
                    </strong>
                </li>
            </ul>

            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="/" class="btn btn-lg btn-default">
                    <i class="fa fa-backward"></i> Back
                </a>
            </div>

        </div>
    </div>
</div>



